<div class='container'>

  <div class='row-fluid'>

    <div class='span12 content'>
      
      <%= @business.Name %>
      
      <div>
	Book it!
      </div>
      
    </div>
    
  </div>

</div>
