<div class='container'>

  <div class='row-fluid'>
    
    <div class='span12 content'>
      <div>
	<%= @business.Name %>
      </div>
      <div>
	<%= @business.Phone %>
      </div>
      <div>
	<%= @business.Description %>
      </div>
      <div>
	Book it!
      </div>
      
    </div>
  </div>
  <%= render :partial => "/events/showcal", :locals => { :bid => @business.id }%>

</div>
