<div class='container'>

  <div class='row-fluid'>

    <div class='span12 content'>

      <%= link_to addBusiness_path, class: 'grey-btn btn-stylus business-all' do %><i class='icon-shop'></i>Add Business<% end %>
      
      <% @business.each do |business| %>
        <div>
          <%= link_to "#{business.Name}", business_path(business.id) %>
        </div>
      <% end %>
    </div>

  </div>

</div>
