<div class='container'>

  <div class='row-fluid'>

    <div class='span12 content'>

      <%= link_to addBusiness_path, class: 'grey-btn btn-stylus' do %><i class='icon-shop'></i>Add Business<% end %>

    </div>

  </div>

</div>