<%= javascript_include_tag "showcal", "fullcalendar" %>
<%= stylesheet_link_tag "fullcalendar" %>

<body>
  <div id='calendar'></div>

  <% if current_user.id ==  @business.userId%>
  <div id='eventDialog' class='dialog ui-helper-hidden'>
    <form>
      <div>
        <label>Title:</label>
        <input id='title' class="field" type="text"></input>
      </div>
      <div>
        <label>Color:</label>
        <input id='color' class="field" type="text"></input>
      </div>
      <div>
        <label>Start:</label>
        <input id='start' class="field" type="text"></input>
      </div>
      <div>
        <label>End:</label>
        <input id='end' class="field" type="text"></input>
      </div>
    </form>
  </div>
  <div id='owner' class='ui-helper-hidden' data-owner='true'></div>
  <% else %>
  <div id='eventDialog' class='dialog ui-helper-hidden'>
    <div> Book this? </div>
  </div>
  <div id='owner' class='ui-helper-hidden' data-owner='false'></div>
  <% end %>
  <div id='bid' class='ui-helper-hidden'><%=bid%></div>
</body>
