@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?57411142');
  src: url('../font/fontello.eot?57411142#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?57411142') format('woff'),
       url('../font/fontello.ttf?57411142') format('truetype'),
       url('../font/fontello.svg?57411142#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?57411142#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-foursquare:before { content: '\e84b'; } /* '' */
.icon-at:before { content: '\e80b'; } /* '' */
.icon-infinity:before { content: '\e806'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-flash-2:before { content: '\e83e'; } /* '' */
.icon-flash:before { content: '\e805'; } /* '' */
.icon-flash-1:before { content: '\e838'; } /* '' */
.icon-feather:before { content: '\e82f'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-direction:before { content: '\e830'; } /* '' */
.icon-heart-1:before { content: '\e815'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-tv:before { content: '\e81b'; } /* '' */
.icon-videocam:before { content: '\e813'; } /* '' */
.icon-trash-1:before { content: '\e82a'; } /* '' */
.icon-user:before { content: '\e812'; } /* '' */
.icon-key:before { content: '\e852'; } /* '' */
.icon-search:before { content: '\e841'; } /* '' */
.icon-cog-1:before { content: '\e817'; } /* '' */
.icon-camera:before { content: '\e820'; } /* '' */
.icon-lock:before { content: '\e821'; } /* '' */
.icon-lightbulb:before { content: '\e81a'; } /* '' */
.icon-pencil:before { content: '\e824'; } /* '' */
.icon-desktop:before { content: '\e81c'; } /* '' */
.icon-location:before { content: '\e828'; } /* '' */
.icon-eye:before { content: '\e840'; } /* '' */
.icon-comment:before { content: '\e825'; } /* '' */
.icon-cup:before { content: '\e842'; } /* '' */
.icon-mobile:before { content: '\e81d'; } /* '' */
.icon-doc:before { content: '\e829'; } /* '' */
.icon-mail:before { content: '\e843'; } /* '' */
.icon-thumbs-up:before { content: '\e823'; } /* '' */
.icon-photo:before { content: '\e81f'; } /* '' */
.icon-note:before { content: '\e816'; } /* '' */
.icon-paper-plane-1:before { content: '\e827'; } /* '' */
.icon-params:before { content: '\e818'; } /* '' */
.icon-money:before { content: '\e84f'; } /* '' */
.icon-beaker:before { content: '\e851'; } /* '' */
.icon-t-shirt:before { content: '\e853'; } /* '' */
.icon-fire:before { content: '\e826'; } /* '' */
.icon-attach:before { content: '\e81e'; } /* '' */
.icon-shop:before { content: '\e82b'; } /* '' */
.icon-calendar:before { content: '\e819'; } /* '' */
.icon-truck:before { content: '\e850'; } /* '' */
.icon-globe-1:before { content: '\e822'; } /* '' */
.icon-heart-empty:before { content: '\e849'; } /* '' */
.icon-fire-1:before { content: '\e84e'; } /* '' */
.icon-briefcase:before { content: '\e84d'; } /* '' */
.icon-user-add:before { content: '\e82d'; } /* '' */
.icon-code:before { content: '\e855'; } /* '' */
.icon-vcard:before { content: '\e82c'; } /* '' */
.icon-location-1:before { content: '\e847'; } /* '' */
.icon-map:before { content: '\e831'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-archive:before { content: '\e856'; } /* '' */
.icon-popup:before { content: '\e837'; } /* '' */
.icon-publish:before { content: '\e836'; } /* '' */
.icon-window:before { content: '\e835'; } /* '' */
.icon-language:before { content: '\e854'; } /* '' */
.icon-lifebuoy:before { content: '\e857'; } /* '' */
.icon-suitcase:before { content: '\e83b'; } /* '' */
.icon-off:before { content: '\e846'; } /* '' */
.icon-flow-tree:before { content: '\e844'; } /* '' */
.icon-brush:before { content: '\e839'; } /* '' */
.icon-paper-plane:before { content: '\e810'; } /* '' */
.icon-chat:before { content: '\e848'; } /* '' */
.icon-vector:before { content: '\e811'; } /* '' */
.icon-user-male:before { content: '\e80d'; } /* '' */
.icon-users-1:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e858'; } /* '' */
.icon-magic:before { content: '\e859'; } /* '' */
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-videocam-alt:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e800'; } /* '' */
.icon-credit-card:before { content: '\e83c'; } /* '' */
.icon-chart:before { content: '\e809'; } /* '' */
.icon-chart-line:before { content: '\e83a'; } /* '' */
.icon-book-open:before { content: '\e834'; } /* '' */
.icon-bullhorn:before { content: '\e808'; } /* '' */
.icon-megaphone:before { content: '\e83f'; } /* '' */
.icon-newspaper:before { content: '\e833'; } /* '' */
.icon-sound:before { content: '\e832'; } /* '' */
.icon-key-1:before { content: '\e84a'; } /* '' */
.icon-link:before { content: '\e802'; } /* '' */
.icon-link-1:before { content: '\e82e'; } /* '' */
.icon-wrench:before { content: '\e845'; } /* '' */
.icon-rocket:before { content: '\e83d'; } /* '' */